{% extends "layouts/base.html" %}

{% block title %} Storge {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
        <div><iframe src="http://10.66.43.42:3000/d-solo/hr9RL45Mz/storage-status?orgId=1&theme=light&panelId=4" width="100%" height="200" frameborder="0"></iframe></div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
